<h1><%= fa_icon Address.fa_icon_string %> Editing Address</h1>

<%= render 'form', address: @address %>

<%= render partial: 'shared/links', locals: { class_name: 'Address', links: { show: true }, object_id: @address.id } %>
