<p class='sort-buttons'>
  <%= link_to 'Oldest first', households_path(sort: 'oldest'), class: "#{@sort == 'oldest' ? 'selected' : ''}" %>
  <%= link_to 'Newest first', households_path(sort: 'newest'), class: "#{@sort == 'newest' ? 'selected' : ''}" %>
  <%= link_to 'Alphabetical', households_path(sort: 'alphabetical'), class: "#{@sort == 'alphabetical' ? 'selected' : ''}" %>
  <%= link_to 'Unverified', households_path(sort: 'unverified'), class: "#{@sort == 'unverified' ? 'selected' : ''}" %>
</p>